$mediarow-breakpoint-sm: 544px !default;
$mediarow-gutter-sm: 12px !default;
$mediarow-breakpoint-md: 768px !default;
$mediarow-gutter-md: 18px !default;
$mediarow-breakpoint-lg: 992px !default;
$mediarow-gutter-lg: 24px !default;

.jonnitto-multicolumn-media--row {
	$mediarow-half-sm: $mediarow-gutter-sm / 2;
	$mediarow-half-md: $mediarow-gutter-md / 2;
	$mediarow-half-lg: $mediarow-gutter-lg / 2;

	&.jonnitto-multicolumn-media--row {
		margin: 0 -#{$mediarow-half-md};
	}

	&::after {
		content: '';
		display: block;
		clear: both;
	}

	.neos-empty-contentcollection-overlay {
		width: 100%;
	}

	> * {
		margin: 0 $mediarow-half-md $mediarow-gutter-md;
		display: block;
		max-width: 100%;
	}

	img {
		&,
		&.img-plain {
			width: 100%;
			max-width: none;
			height: auto;
			display: block;
			object-fit: fill;
		}
	}

	@media (min-width: $mediarow-breakpoint-sm) {
		display: flex;
		flex-direction: row;

		&.jonnitto-multicolumn-media--row {
			margin: 0 -#{$mediarow-half-sm};
		}

		> * {
			margin: 0 $mediarow-half-sm $mediarow-gutter-sm;
		}
	}

	@media (min-width: $mediarow-breakpoint-md) {
		&.jonnitto-multicolumn-media--row {
			margin: 0 -#{$mediarow-half-md};
		}

		> * {
			margin: 0 $mediarow-half-md $mediarow-gutter-md;
		}
	}

	@media (min-width: $mediarow-breakpoint-lg) {
		&.jonnitto-multicolumn-media--row {
			margin: 0 -#{$mediarow-half-lg};
		}

		> * {
			margin: 0 $mediarow-half-lg $mediarow-gutter-lg;
		}
	}
}
